@charset "utf-8";

body {
	background-color: antiquewhite;
}
img {
	width: 400px;
}
img{
	border: double #D9FDFE 10px;
	width: 400px;
}
h2 {
	letter-spacing: 2px;
	font-family: Fantasy;
	color: #D9FDFE
}
